body{
    margin: 0px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto auto 1fr 100px;
}

header{
    display: grid;
    grid-template-columns: auto 1fr 70px;
    background-color: rgb(232,48,70);
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    place-items: center;
    background-color: rgb(198, 26, 46);
}

main{
    text-align: center;
    place-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    place-items: center;
}

footer{
    text-align: center;
    background-color: rgb(232,48,70);
}

h1{
    text-align: center;
    color: white;
    line-height: 2;
}

h2{
    font-size: 30px;
}

p{
    color: black;
    font-size: large;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 2;
}

a:hover{
    text-decoration: underline;
}

.logo{
    width: 75px;
    padding-left: 10px;
    padding-top: 10px;
}

.blog_text{
    margin-left: 10%;
    margin-right: 10%;
}

.Main_Text{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.footer_text{
    color: white;
}

.footer_link:hover{
    text-decoration: underline;
}

.currentLink{
    text-decoration: underline;
}

